<div class="product-form-container">
  <div class="form-container">

    <div class="form-header">
      Formulario de Registro
    </div>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-row">
        <div class="form-control">
          <label for="id" [ngClass]="{isInvalid: (submitted && f['id'].errors?.['required']) || f['id'].errors?.['idTaken']}">
            ID <span class="required">*</span>
          </label>
          <input type="text" id="id" name="id" formControlName="id" placeholder="id del producto"
            [readOnly]="product?.id" [ngClass]="{isInvalid: (submitted && f['id'].errors?.['required']) || f['id'].errors?.['idTaken']}">

          <span *ngIf="!product?.id">
            <div class="hint" *ngIf="_checkValidIdInput && f['id'].value?.length > 0">
              Comprobando...
            </div>
            <div class="success" *ngIf="!_checkValidIdInput && !f['id'].errors?.['idTaken']">
              ID disponible!
            </div>
            <div class="error" *ngIf="!_checkValidIdInput && f['id'].errors?.['idTaken']">
              ID no v&aacute;lido!
            </div>
          </span>

          <div class="error" *ngIf="submitted && (f['id'].errors?.['minlength'] || f['id'].errors?.['maxlength'])">
            Largo mínimo 3 y máximo 10!
          </div>
          <div class="error" *ngIf="submitted && f['id'].errors?.['required']">
            Este campo es requerido!
          </div>
        </div>

        <div class="form-control">
          <label for="name" [ngClass]="{isInvalid: (submitted && f['name'].errors?.['required'])}">
            Nombre <span class="required">*</span>
          </label>
          <input type="text" id="name" name="name" formControlName="name" placeholder="nombre" autocomplete="off"
            [ngClass]="{isInvalid: (submitted && f['name'].errors?.['required'])}">
          <div class="error" *ngIf="submitted && f['name'].errors?.['required']">
            Este campo es requerido!
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-control">
          <label for="description" [ngClass]="{isInvalid: (submitted && f['description'].errors?.['required'])}">
            Descripci&oacute;n <span class="required">*</span>
          </label>
          <input type="text" id="description" name="description" formControlName="description"
            placeholder="Descripci&oacute;n detallada"
            [ngClass]="{isInvalid: (submitted && f['description'].errors?.['required'])}">
          <div class="error" *ngIf="submitted && f['description'].errors?.['required']">
            Este campo es requerido!
          </div>
        </div>

        <div class="form-control">
          <label for="logo" [ngClass]="{isInvalid: (submitted && f['logo'].errors?.['required'])}">
            Logo <span class="required">*</span>
          </label>
          <input type="text" id="logo" name="logo" formControlName="logo" placeholder="url del logo"
            [ngClass]="{isInvalid: (submitted && f['logo'].errors?.['required'])}">
          <div class="error" *ngIf="submitted && f['logo'].errors?.['required']">
            Este campo es requerido!
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-control">
          <label for="date_release" [ngClass]="{isInvalid: (submitted && f['date_release'].errors?.['required'])}">
            Fecha de Liberaci&oacute;n <span class="required">*</span>
          </label>
          <input type="date" id="date_release" name="date_release" formControlName="date_release"
            [ngClass]="{isInvalid: (submitted && f['date_release'].errors?.['required'])}">
          <div class="error" *ngIf="submitted && f['date_release'].errors?.['required']">
            Este campo es requerido!
          </div>
        </div>

        <div class="form-control">
          <label for="date_revision" [ngClass]="{isInvalid: (submitted && f['date_revision'].errors?.['required'])}">
            Fecha de revisi&oacute;n <span class="required">*</span>
          </label>
          <input type="date" id="date_revision" name="date_revision" formControlName="date_revision"
            [ngClass]="{isInvalid: (submitted && f['date_revision'].errors?.['required'])}">
          <div class="error" *ngIf="submitted && f['date_revision'].errors?.['required']">
            Este campo es requerido!
          </div>
        </div>
      </div>

      <div class="form-row">
        <button class="reset" type="button" (click)="return()"
          *ngIf="!formValueChanged || product?.id">Cancelar</button>
        <button class="reset" type="button" (click)="reset()"
          *ngIf="formValueChanged && !product?.id">Reiniciar</button>
        <button class="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>