<div class="product-list-container">
  <div class="form-container">
    <div class="search-container">
      <input type="text" class="search" placeholder="buscar en nombre o descripcion..." [(ngModel)]="productSearch"
        (input)="onSearchInput($event)" />
    </div>

    <button class="add" [routerLink]="['/products', 'form']">
      <img src="assets/icons/add.png" alt="add product">
      Agregar
    </button>
  </div>

  <div class="product-list-table">
    <table>
      <thead>
        <tr>
          <th class="display-desktop">Logo</th>
          <th class="display-desktop">Nombre del producto</th>
          <th class="display-desktop">Descripci&oacute;n</th>
          <th class="display-desktop">Fecha de liberaci&oacute;n</th>
          <th class="display-desktop">Fecha de reestructuraci&oacute;n</th>
          <th class="display-mobile">Productos</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!products">
          <td colspan="6"> Cargando... </td>
        </tr>
        <tr *ngFor="let product of (products | productFilter:[productSearch,page,pageSize])">
          <td class="display-desktop pointer">
            <img class="product-logo" [src]="product.logo" alt="logo" (click)="openImageModal(product.logo)" />
          </td>
          <td class="display-desktop">{{product.name}}</td>
          <td class="display-desktop">{{product.description}}</td>
          <td class="display-desktop">{{product.date_release | date:'dd/MM/yyyy'}}</td>
          <td class="display-desktop">{{product.date_revision | date:'dd/MM/yyyy'}}</td>
          <td class="display-mobile">
            <img class="product-logo" [src]="product.logo" alt="logo" />
            <div class="product-name"> {{product.name}} </div>
            <span class="product-label">Descripci&oacute;n:</span> {{product.description}}<br>
            <span class="product-label">Fecha Liberaci&oacute;n:</span> {{product.date_release | date:'dd/MM/yyyy'}}<br>
            <span class="product-label">Fecha Reestructuraci&oacute;n:</span>
            {{product.date_revision | date:'dd/MM/yyyy'}}<br>
          </td>
          <td class="actions">
            <app-actions-dropdown (edit)="onEdit(product)" (delete)="onDelete(product)"></app-actions-dropdown>
          </td>
        </tr>
        <tr *ngIf="products?.length == 0">
          <td colspan="6"> Sin productos que mostrar</td>
        </tr>
      </tbody>
    </table>
    <div class="tfoot" *ngIf="products">
      <span class="results">{{productsCount}} resultados</span>
      <span class="page-sizes">
        Tam: &nbsp; <select [(ngModel)]="pageSize" (change)="onSizeChange($event)">
          <option [value]="size" *ngFor="let size of pageSizes">{{size}}</option>
        </select>
      </span>
      <span class="pages">
        <button (click)="prevPage()" class="pointer"><img src="assets/icons/angle-left.png" alt="prevPage" /></button>
        Pág: &nbsp; <input type="number" [(ngModel)]="page" (change)="onPageChange($event)">
        <button (click)="nextPage()" class="pointer"><img src="assets/icons/angle-right.png" alt="nextPage" /></button>
      </span>
    </div>
  </div>

  <app-confirmation-modal *ngIf="showDeleteModal" title="Confirmar eliminación" message="¿Desea eliminar este producto?"
    (confirmed)="confirmDelete()" (canceled)="cancelDelete()">
  </app-confirmation-modal>

  <app-image-modal *ngIf="showImageModal" [imageUrl]="imageUrl" (closed)="closeImageModal()">
  </app-image-modal>
</div>