.product-list-container {
  margin-top: 25px;
}

input.search {
  width: 300px;
  max-width: 50vw;
}

button.add {
  background-color: gold;
  color: black;
  float: right;
  height: 44px;
  padding: 0 15px;
}

table .product-logo {
  max-width: 50px;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: 2px 5px 10px gray;
  border-radius: 5px;
}

table .results {
  float: left;
  margin-top: 5px;
}

table .pages {
  float: right;
  padding-right: 50px;
}

table .page-sizes {
  float: right;
}

table .pages button {
  background-color: transparent;
  border: none;
}

table .pages button:focus, table .pages button:hover {
  box-shadow: none;
}

table .pages img {
  max-width: 15px;
}

table .pages input {
  height: 20px;
  width: 40px;
}

@media screen and (max-width: 720px) {

  table .product-logo {
    float: left;
    margin-right: 15px;
  }

  table .product-name {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  table .product-label {
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
  }

  table .actions {
    padding: 0px;
    vertical-align: top;
  }

  table .results {
    float: none;
    display: block;
    margin-bottom: 10px;
  }

  table .pages {
    float: left;
    display: block;
  }

  table .page-sizes {
    float: left;
    display: block;
  }
}